# Ignore all files by default, but scan all directories
*
!*/

# Don't ignore
!.gitignore
!*.html
!*.js
!*.json
!*.md
!*.sh
!*.ts
!*.tsx
!*.yml
!yarn.lock
!/public/*.*

# Always ignore
node_modules
.env
.webpack/
